.box{
    width: 200px;
    height: 250px;
    background: hotpink;
    border: 1px solid black;
}
div{
   width: 50px; 
   height: 48px;
   border: 1px solid black;
}
.black{
    background: black;
}
.white{
    background: white;
}