.container{
    width: 575px;
    height: 575px;
    border:  2px solid black;
    background-color: tomato;
  
   
}
div{
    width: 80px;
    height: 80px;
    border: 1px solid black;
    float: left;

}
.yellow{
    background: yellow;
}
.t{
    background: teal;
}
.green{
    background: green;
}